body {
    background-color: aqua;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fiddle-gif {
    max-width: 200px;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
}

.margin-top-one {
    margin-top: 1rem;
}

svg {
    height: 4rem;
}

.text-center {
    text-align: center;
}
